.section {
  background-color: #f8f7f2; /* Fond beige */
  width: 80%;
  margin: 2rem auto; /* Centre la section et ajoute une marge autour */
  padding: 2rem; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis */
}

/* Section 1 - Image centrée */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Coins arrondis */
}

/* Section 2 - Texte à gauche, bouton à droite */
.section-content {
  display: flex;
  justify-content: space-around;
}

.text-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-content .title {
  font-size: 2rem;
  font-weight: bolder;
}

.text-content .description {
  font-size: 1rem;
}
.text-content .price {
  margin: 0.6rem 0;
  font-size: 2rem;
}
.text-content .date-pub {
  font-size: 0.8rem;
}
.text-content .date-dispo {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}
.text-content .category {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}
.text-content .address {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-button {
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.postuler {
  font-size: 1.2rem;
  font-weight: bold;
}

.postuler:hover {
  background-color: var(--button-hover);
}

.signaler {
  background-color: #ff3939;
  font-size: 0.9rem;
}

.signaler:hover {
  background-color: red;
}

/* Section 3 - Texte large */
.section-text p {
  margin-bottom: 1rem; /* Espacement entre les paragraphes */
  text-align: justify;
}
