/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------- BANNER ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  font-family: var(--police-text);
}

header section {
  text-align: left;
  text-wrap: wrap;
  justify-content: center;
}

header .banner {
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
  padding: 1% 0 1% 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#logoIcon a {
  position: inherit;
  display: flex;
  text-decoration: inherit; /* Retire le soulignement */
  align-items: center;
  color: inherit; /* Garde la couleur du texte d'origine */
}

#logoIcon,
#logoText {
  margin-left: 1%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 1.4em;
}

#logoImg {
  border: solid 2px white;
  border-radius: 50%;
  margin-right: 5%;
}

.navigation-bar {
  display: flex;
  align-items: center;
  font-family: "Krona One", sans-serif;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
}

.navigation-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation-bar ul li a,
.navigation-bar ul li #myAccount {
  position: relative;
  margin-right: 3rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 3;
}

.dropdown-menu {
  z-index: 1;
  display: block; /* Ne pas utiliser display: none, car cela empêche les transitions */
  opacity: 0;
  transform: translateY(-10px); /* Déplacer légèrement vers le haut pour l'animation */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animation sur 0.3s */
  visibility: hidden; /* Cache l'élément initialement */
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.navigation-bar ul li .dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  margin-right: 0;
}

.dropdown-menu a:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

#myAccount:hover .dropdown-menu,
#myAccount.active .dropdown-menu {
  opacity: 1;
  transform: translateY(0); /* Menu revient à sa position initiale */
  visibility: visible; /* Rend le menu visible */
}

#dropdown_menu_arrow {
  margin-left: 0.36rem;
}

#myAccount:hover #dropdown_menu_arrow,
.menu_container.forceActive #dropdown_menu_arrow {
  transform: rotateZ(90deg);
  animation: rotation 0.3s ease-in-out;
}

<<<<<<< HEAD
/* --------------------------- MEDIA QUERIES POUR RENDRE RESPONSIVE ---------------------------- */
=======
.dark-theme {
  background-color: #333;
  color: #fff;
}
.light-theme {
  background-color: #fff;
  color: #000;
}
>>>>>>> 3cffe01 (settings in progress, favoris debut)

@media (max-width: 991px) {
  header .banner {
    justify-content: space-between;
  }

  #logoText {
    font-size: 1.2em;
  }

  .navigation-bar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 1rem;
  }

  .navigation-bar ul {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .navigation-bar ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  #logoImg {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #recherche_annonce,
  #deposer_annonce,
  #loginButton,
  #registerButton,
  #myAccount {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #myAccount {
    display: block;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  #dropdown_menu_arrow {
    display: none;
  }
}

@media (max-width: 576px) {
  #logoImg {
    height: 60px;
  }

  #logoText {
    font-size: 1.1em;
  }

  .navigation-bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navigation-bar ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .navigation-bar ul li a,
  .navigation-bar ul li #myAccount {
    margin-right: 0;
    font-size: 1rem;
  }

  #recherche_annonce,
  #deposer_annonce,
  #loginButton,
  #registerButton {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #myAccount {
    display: block;
    width: 100%;
  }

  .dropdown-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    box-shadow: none;
    background-color: transparent;
  }

  #dropdown_menu_arrow {
    display: none;
  }
}
