/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------- BANNER ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  font-family: var(--police-text);
}

header section {
  text-align: left;
  text-wrap: wrap;
  justify-content: center;
}

header .banner {
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
  padding: 1% 0 1% 0;
}

#logoIcon a {
  position: inherit;
  display: inherit;
  text-decoration: inherit; /* Retire le soulignement */
  align-items: inherit;
  color: inherit; /* Garde la couleur du texte d'origine */
}

#logoIcon,
#logoText {
  margin-left: 1%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 1.4em;
}

#logoImg {
  border: solid 2px white;
  border-radius: 50%;
  margin-right: 5%;
}

.navigation-bar {
  display: flex;
  align-items: center;
  font-family: "Krona One", sans-serif;
  width: 100%;
  height: 4rem;
}

.navigation-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation-bar ul li a,
.navigation-bar ul li #myAccount {
  top: 25%;
  margin-right: 3rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.dropdown-menu {
  z-index: 1;
  display: block; /* Ne pas utiliser display: none, car cela empêche les transitions */
  opacity: 0;
  transform: translateY(
    -10px
  ); /* Déplacer légèrement vers le haut pour l'animation */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease; /* Animation sur 0.3s */
  visibility: hidden; /* Cache l'élément initialement */
  position: absolute;
  right: 2rem;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.navigation-bar ul li .dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  margin-right: 0;
}

.dropdown-menu a:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

#myAccount:hover .dropdown-menu,
#myAccount.active .dropdown-menu {
  opacity: 1;
  transform: translateY(0); /* Menu revient à sa position initiale */
  visibility: visible; /* Rend le menu visible */
}

#dropdown_menu_arrow {
  margin-left: 0.36rem;
}

#myAccount:hover #dropdown_menu_arrow,
.menu_container.forceActive #dropdown_menu_arrow {
  transform: rotateZ(90deg);
  animation: rotation 0.3s ease-in-out;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}
.light-theme {
  background-color: #fff;
  color: #000;
}

