:root {
  --primary-color: #041a8f;
  --secondary-color: #ccd8ff;
  --text-color-blue: #041a8f;
  --text-color-black: #000;
  --text-color-white: #f8f7f2;
  --text-color-grey: #c0c0c0;
  --notification-color: #ff3939;
  --police-text: "Inter", sans-serif;
}
