:root {
    --primary-color: #041A8F;
    --secondary-color: #CCD8FF;
    --text-color-blue: #041A8F;
    --text-color-black: #000;
    --text-color-white: #F8F7F2;
    --text-color-grey: #C0C0C0 ;
    --notification-color: #FF3939;
}